<h1 matDialogTitle  class="mat-dialog-title" style="margin-bottom: 0px;">{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()" *ngIf="data.import === false">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="Name"
        formControlName="name"
        placeholder="Name *">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="skuid"  
        formControlName="skuid"
        placeholder="SKU Id *">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        type="number"
        type="retail_price"
        name="retail_price"
        formControlName="retail_price"
        placeholder="Retail price *">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        type="number"
        name="sale_price"
        formControlName="sale_price"
        placeholder="Sale price *">
      </mat-form-field>
    </div>

    <div fxFlex="100" class="pr-1">
      <mat-form-field class="full-width">
        <input 
        matInput
        type="text"
        name="small_image"
        formControlName="small_image"
        placeholder="Url *">
      </mat-form-field>
    </div>

    <div fxFlex="100"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        type="text"
        name="description"
        formControlName="description"
        placeholder="Description *">
      </mat-form-field>
    </div>
   

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>

  <div fxLayout="row wrap" fxLayout.lt-sm="column" *ngIf="data.import === true">
    <div fxFlex="100"  class="pr-1">
      <div class="mb-1">
        <div ng2FileDrop
        [ngClass]="{'dz-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="fileupload-drop-zone text-left" matTooltip="Select Products Import File / Drop file here" [class]="fileContent === undefined && isValid === false ?'notValid':''">
        
        <input type="file" #fileInput (click)="fileInput.value = null" value="" (change)="importProducts($event.target.files)" class="migration-file-upload"  accept=".json"/> 
        <div class="text-center" style="margin-top: -50px;z-index: 99;"> Drop or click to upload the product import file </div>
        </div>
    
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="100" class="mt-1" *ngIf="fileOptions?.name">
      <b>File Name:</b> {{ fileOptions?.name }}
    </div>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" (click)="import(fileContent)">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>

  </div>


  