<mat-card class="p-1">
 <mat-card-content class="mt-1">
     <form>
         <mat-form-field class="full-width">
             <input matInput
                    name="name"
                    placeholder="Name"
                    value="{{user?.name}}">
         </mat-form-field>
         <mat-form-field class="full-width">
             <input matInput
                    name="username"
                    placeholder="User Principle Name"
                    value="{{user?.name}}">
         </mat-form-field>
         <mat-form-field class="full-width">
             <input matInput
                    name="jobTitle"
                    placeholder="Job Title"
                    value="{{user?.jobTitle}}">
         </mat-form-field>
         <mat-form-field class="full-width">
             <input matInput
                    name="companyName"
                    placeholder="Company Name"
                    value="{{user?.companyName}}">
         </mat-form-field>
         <mat-form-field class="full-width">
             <input matInput
                    name="department"
                    placeholder="Department"
                    value="{{user?.department}}">
         </mat-form-field>
         <mat-form-field class="full-width">
             <input matInput
                    name="userType"
                    placeholder="User Type"
                    value="">
         </mat-form-field>
         <mat-form-field class="full-width">
             <input matInput
                    name="roleAssigned"
                    placeholder="Role Assigned"
                    value="{{user?.roleAssigned}}">
         </mat-form-field>
     </form>
      </mat-card-content>
</mat-card>